/* @tailwind components; */
.playground {
	display: flex;
	flex-direction: column;
	@apply bg-white;
	@apply p-2;
}
.header {
	@apply border-gray-500;
	@apply p-1;
}
.header h2 {
	display: inline-block;
	@apply m-0;
}
.container {
	@apply mr-5;
}
.formContainer {
	@apply p-5;
	outline: 1px solid black;
	box-shadow: 0px 0px 8px 10px rgba(34, 60, 80, 0.1);
	@apply bg-white;
}
.formWrapper {
	@apply bg-gray-100;
	@apply p-5;
	display: inline-block;
	position: fixed;
	overflow-y: scroll;
	outline: 1px solid black;
}
.codeEditor {
	box-sizing: border-box;
	display: inline-block;
	outline: 1px solid black;
	padding: 20px;
	min-width: 400px;
	max-width: 80%;
	width: 60%;
}

.chartsWrapper {
}

.formContainer {
}

.hide {
	display: none;
}
.btnGroup {
	@apply py-3;
}
