.wrap {
	@apply mt-4;
	@apply bg-gray-100;
	break-inside: avoid;
	@apply dark:bg-gray-700 border-gray-900;
	@apply relative;
	min-height: 28px;
}

.header {
	@apply text-lg;
	@apply px-2 pt-1;
}

.content {
	@apply pb-4 pt-1;
}
.wrapper {
	@apply appearance-none;
	@apply absolute right-2 top-1;
	@apply text-6xl;
	font-size: 20px !important;
	@apply cursor-pointer;
}
