/*
wrapper	{
	label {
		span {}
		requiredMark {}
	}
	component {
		container{
			control {

			}
		}
		description{}
		error {}
	}
}
*/
.wrapColumn {
	@apply px-4 py-2;
}
.label {
	@apply mb-2;
	@apply block;
}
.component {
}
.container {
}
.control {
	@apply border-solid border-1 border-gray-300;
	@apply px-3 py-1;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	@apply outline-0;
	@apply box-border;
	@apply w-full;
	@apply block;
}
.control:hover,
.control:focus {
	@apply border-solid border-blue-400 border-1;
	@apply shadow-mdt-blue;
	@apply outline-0;
}
.control:disabled,
.control[readonly] {
}
.control.invalid {
	@apply border-solid border-red-500;
	/* @apply pr-9;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); */
}
.control.invalid > .checkInput {
	@apply border-solid border-red-500;
}
.control.invalid > .checkLabel {
	@apply text-red-700;
}

.input {
}
.textarea {
}

.select {
	@apply w-full;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	appearance: none;
}
.checkbox,
.radio {
	@apply border-0;
	@apply shadow-none;
	@apply pl-2;
}
.checkbox:hover,
.checkbox:focus,
.radio:hover,
.radio:focus {
	@apply border-0;
	@apply shadow-none;
}
.checkInput {
	@apply border-1 border-solid border-gray-300;
	@apply w-4 h-4;
	@apply m-0 mt-1 mr-2;
	@apply align-top;
	@apply appearance-none;
	@apply bg-no-repeat bg-white bg-center bg-contain;
	margin-left: -8px;
}
.checkInput:hover {
	@apply border-solid border-blue-400 border-1;
	@apply shadow-mdt-blue;
	@apply outline-0;
}
.checkInput:checked {
	@apply bg-blue-500;
	@apply border-blue-500;
}
.checkInput:checked[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.checkInput:checked[type="radio"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.checkInput[type="radio"] {
	border-radius: 50%;
}
.checkInput[type="checkbox"]:indeterminate {
	@apply bg-blue-500;
	@apply border-blue-500;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.checkInput:disabled {
	@apply pointer-events-none;
	@apply filter-none;
}
.checkLabel {
}

.description {
	@apply mt-1;
	@apply text-sm text-gray-500 dark:text-gray-400;
}
.error {
	@apply text-red-700 dark:text-red-500;
	@apply w-full;
	@apply mt-1;
	@apply text-sm;
}
.errorDetail {
	@apply my-0 mx-0 pl-10;
}
.requiredMark {
	@apply text-red-500 font-bold dark:text-red-400;
}
