* {
	box-sizing: border-box;
}
.wrap {
	@apply text-base;
	@apply text-base-text;
	font-family: "Roboto", sans-serif;
	@apply py-out-space;
	@apply dark:bg-gray-700;
}

.header {
	@apply font-semibold;
	@apply text-base-text;
	@apply mb-out-space;
	@apply px-horizontal;
}
.title {
	@apply text-lg;
	display: block;
}
.description {
	display: block;
}

.content {
	@apply text-black dark:text-gray-100;
	@apply pb-out-space;
	@apply font-normal;
	font-family: "Roboto", sans-serif;
}

/* *button */

@layer base {
	:root {
		--brand-primary: #126199;
		--brand-secondary: #127bb7;
		--brand-success: #20b078;
		--brand-info: #209de3;
		--brand-warning: #ffba00;
		--brand-danger: #ff3131;
		--brand-fatal: #aa0000;

		--base-text: #252525;
		--base-primary: #444444;
		--base-secondary: #e5e5e5;
		--bg-color: #eee;

		--base-fs: 12px;
		--base-lh: 1.7;
		--large-fs: 19px;
		--medium-fs: 15px;

		--pad-x: 7px;
		--pad-y: 3px;
		--space-y: 5px;
		--space-x: 9px;

		--ctrl-border: 1;
	}
	.pink {
		--brand-primary: #da3483;
		--brand-secondary: #e93491;
		--brand-success: #97d63b;
		--brand-info: #42abf0;
		--brand-warning: #f38e18;
		--brand-danger: #f01103;

		--base-primary: #666666;
	}

	.coffee {
		--brand-primary: #614d45ff;
		--brand-secondary: #bf5603ff;
		--brand-success: #41a932;
		--brand-info: #249ecc;
		--brand-warning: #f16003;
		--brand-danger: #e03434;

		--base-primary: #444444;
	}
	.modern-blue {
		--brand-primary: #126199;
		--brand-secondary: #127bb7;
		--brand-success: #20b078;
		--brand-info: #209de3;
		--brand-warning: #ffba00;
		--brand-danger: #ff3131;

		--base-primary: #444444;

		--pad-x: 12px;
		--pad-y: 5px;
		--space-x: 15px;
	}
	.dark-blue {
		--brand-primary: #0e4d79;
		--brand-success: #41a932;
		--brand-info: #249ecc;
		--brand-warning: #f16003;
		--brand-danger: #ff4136;

		--base-primary: #555555;
	}
	.light-blue {
		--brand-primary: #0e4d9c;
		--brand-success: #41a932;
		--brand-info: #249ecc;
		--brand-warning: #f16003;
		--brand-danger: #ff4136;

		--base-primary: #555555;
	}
	.dark {
		--brand-primary: #f3f4f6;
		--brand-secondary: #127bb7;
		--brand-success: #20b078;
		--brand-info: #209de3;
		--brand-warning: #ffba00;
		--brand-danger: #ff3131;
		--brand-fatal: #aa0000;
		/* --base-primary: var(--brand-primary); */

		--base-text: var(--brand-primary);
	}
}

@layer components {
	.btn {
		display: inline-block;
		@apply text-base;
		color: #212529;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid transparent;
		@apply px-pad-x py-pad-y ml-horizontal;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out;
		@apply text-base;
	}
	.btn {
		@apply bg-primary hover:bg-secondary;
		@apply border-primary hover:border-secondary;
		color: #fff;
	}
}
